http://pandas.pydata.org/pandas-docs/stable/advanced.html

In [3]:
import numpy as np
import pandas as pd

In [31]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [32]:
tuples = list(zip(*arrays))  # produces a list of tuples
print(len(tuples))
tuples

8

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [33]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [34]:
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one    1.687261
     two    0.945585
baz  one    1.274056
     two   -0.004714
foo  one   -1.126959
     two   -1.417109
qux  one    0.510355
     two   -1.071105
dtype: float64

As a convenience, you can pass a list of arrays directly into Series or DataFrame to construct a MultiIndex automatically:

In [9]:
s2 = pd.Series(np.random.randn(8), index=arrays)
s2

bar  one    0.302456
     two    2.230063
baz  one   -1.293163
     two   -0.719453
foo  one   -0.307817
     two    0.548172
qux  one   -0.787509
     two   -0.566176
dtype: float64

In [16]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  0.055904  0.099164 -1.682160 -1.557066
    two -0.566645 -0.262706  0.380399 -1.726505
baz one  0.571944 -0.200059 -2.374243 -0.039289
    two -0.860156  0.383479  0.603938 -0.895870
foo one -0.064831 -1.849499  1.126152  0.332392
    two  0.096823 -0.727725 -0.642941  1.415346
qux one -0.607421 -1.105434  0.971451 -0.103389
    two  0.882680  0.297837  0.088523  0.841772

In [24]:
df[0]

bar  one    0.055904
     two   -0.566645
baz  one    0.571944
     two   -0.860156
foo  one   -0.064831
     two    0.096823
qux  one   -0.607421
     two    0.882680
Name: 0, dtype: float64

In [18]:
df2 = df.T
df2

        bar                 baz                 foo                 qux  \
        one       two       one       two       one       two       one
0  0.055904 -0.566645  0.571944 -0.860156 -0.064831  0.096823 -0.607421
1  0.099164 -0.262706 -0.200059  0.383479 -1.849499 -0.727725 -1.105434
2 -1.682160  0.380399 -2.374243  0.603938  1.126152 -0.642941  0.971451
3 -1.557066 -1.726505 -0.039289 -0.895870  0.332392  1.415346 -0.103389


        two
0  0.882680
1  0.297837
2  0.088523
3  0.841772

In [20]:
df2['baz']['two']

0   -0.860156
1    0.383479
2    0.603938
3   -0.895870
Name: two, dtype: float64