https://github.com/catherinedevlin/ipython-sql

Author:	Catherine Devlin, http://catherinedevlin.blogspot.com
Introduces a %sql (or %%sql) magic.

Connect to a database, using SQLAlchemy connect strings, then issue SQL commands within IPython or IPython Notebook.

In [1]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: None@None'

In [4]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespear', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

Done.
1 rows affected.
1 rows affected.

[]

In [5]:
%sql select * from writer

Done.

[('William', 'Shakespear', 1616), ('Bertold', 'Brecht', 1956)]